[build]
  publish = "public"

# Prevent indexing branch deploy (i.e develop, staging)
[context.branch-deploy]
  command = "npm run build:noindex"

# [[plugins]]
#   package = "netlify-plugin-gatsby-cache"

[[plugins]]
  package= "@netlify/plugin-gatsby"

# Hard cache fonts for a year
[[headers]]
  for = "/fonts/*"
    [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"