@font-face {
  font-weight: 400;
  font-family: 'Redaction';
  font-style: normal;
  src: local('Redaction'), url('Redaction-Regular.woff2') format('woff2');
}

@font-face {
  font-weight: 700;
  font-family: 'Redaction';
  font-style: normal;
  src: local('Redaction'), url('Redaction-Bold.woff2') format('woff2');
}

@font-face {
  font-weight: 400;
  font-family: 'Redaction';
  font-style: italic;
  src: local('Redaction'), url('Redaction-Italic.woff2') format('woff2');
}

@font-face {
  font-weight: 400;
  font-family: 'Redaction 10';
  font-style: normal;
  src: local('Redaction 10'), local('Redaction10'),
    url('Redaction_10-Regular.woff2') format('woff2');
}

@font-face {
  font-weight: 700;
  font-family: 'Redaction 10';
  font-style: normal;
  src: local('Redaction 10'), local('Redaction10'),
    url('Redaction_10-Bold.woff2') format('woff2');
}

@font-face {
  font-weight: 400;
  font-family: 'Redaction 10';
  font-style: italic;
  src: local('Redaction 10'), local('Redaction10'),
    url('Redaction_10-Italic.woff2') format('woff2');
}

@font-face {
  font-weight: 400;
  font-family: 'Redaction 20';
  font-style: normal;
  src: local('Redaction 20'), local('Redaction20'),
    url('Redaction_20-Regular.woff2') format('woff2');
}

@font-face {
  font-weight: 700;
  font-family: 'Redaction 20';
  font-style: normal;
  src: local('Redaction 20'), local('Redaction20'),
    url('Redaction_20-Bold.woff2') format('woff2');
}

@font-face {
  font-weight: 400;
  font-family: 'Redaction 20';
  font-style: italic;
  src: local('Redaction 20'), local('Redaction20'),
    url('Redaction_20-Italic.woff2') format('woff2');
}

@font-face {
  font-weight: 400;
  font-family: 'Redaction 35';
  font-style: normal;
  src: local('Redaction 35'), local('Redaction35'),
    url('Redaction_35-Regular.woff2') format('woff2');
}

@font-face {
  font-weight: 700;
  font-family: 'Redaction 35';
  font-style: normal;
  src: local('Redaction 35'), local('Redaction35'),
    url('Redaction_35-Bold.woff2') format('woff2');
}

@font-face {
  font-weight: 400;
  font-family: 'Redaction 35';
  font-style: italic;
  src: local('Redaction 35'), local('Redaction35'),
    url('Redaction_35-Italic.woff2') format('woff2');
}

@font-face {
  font-weight: 400;
  font-family: 'Redaction 50';
  font-style: normal;
  src: local('Redaction 50'), local('Redaction50'),
    url('Redaction_50-Regular.woff2') format('woff2');
}

@font-face {
  font-weight: 700;
  font-family: 'Redaction 50';
  font-style: normal;
  src: local('Redaction 50'), local('Redaction50'),
    url('Redaction_50-Bold.woff2') format('woff2');
}

@font-face {
  font-weight: 400;
  font-family: 'Redaction 50';
  font-style: italic;
  src: local('Redaction 50'), local('Redaction50'),
    url('Redaction_50-Italic.woff2') format('woff2');
}

@font-face {
  font-weight: 400;
  font-family: 'Redaction 70';
  font-style: normal;
  src: local('Redaction 70'), local('Redaction70'),
    url('Redaction_70-Regular.woff2') format('woff2');
}

@font-face {
  font-weight: 700;
  font-family: 'Redaction 70';
  font-style: normal;
  src: local('Redaction 70'), local('Redaction70'),
    url('Redaction_70-Bold.woff2') format('woff2');
}

@font-face {
  font-weight: 400;
  font-family: 'Redaction 70';
  font-style: italic;
  src: local('Redaction 70'), local('Redaction70'),
    url('Redaction_70-Italic.woff2') format('woff2');
}

@font-face {
  font-weight: 400;
  font-family: 'Redaction 100';
  font-style: normal;
  src: local('Redaction 100'), local('Redaction100'),
    url('Redaction_100-Regular.woff2') format('woff2');
}

@font-face {
  font-weight: 700;
  font-family: 'Redaction 100';
  font-style: normal;
  src: local('Redaction 100'), local('Redaction100'),
    url('Redaction_100-Bold.woff2') format('woff2');
}

@font-face {
  font-weight: 400;
  font-family: 'Redaction 100';
  font-style: italic;
  src: local('Redaction 100'), local('Redaction100'),
    url('Redaction_100-Italic.woff2') format('woff2');
}
